<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.prsm.shopping_app"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopping_app">

        <activity
            android:label="A&amp;J Mobile"
            android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount"
            android:label="Create Account">

        </activity>
        <activity android:name=".Login"
            android:label="Login">

        </activity>
        <activity android:name=".Shop"
            android:label="Shop">

        </activity>
        <activity android:name=".ViewCart"
            android:label="Cart">

        </activity>
    </application>

</manifest>